<% resource = node.build_child %>
<%= form_for resource,
             url: intervals_node_index_path(),
             method: :post  do |form| %>
  <div class="form <%= callout_class resource, '' %>">
    <%= form.hidden_field :left_tree %>
    <%= form.hidden_field :right_tree %>
    <%= form.hidden_field :tree_level %>
    <%= form.hidden_field :root_id %>
    <div class="input-group">
      <%= form.text_field :label, placeholder: "Child label", autofocus: false, class: "input-group-field" %>
      <div class="input-group-button">
        <button type="submit" class="button">
          Add
        </button>
      </div>
    </div>
    <%= display_label_error resource%>
  </div>
<% end %>
