<%= form_for node.build_child, url: intervals_tree_index_path(), method: :post  do |form| %>
  <%= form.hidden_field :left_tree %>
  <%= form.hidden_field :right_tree %>
  <%= form.hidden_field :tree_level %>
  <%= form.hidden_field :root_id %>
  <div class="input-group">
    <%= form.text_field :label, placeholder: "Child label", autofocus: false, class: "input-group-field" %>
    <div class="input-group-button">
      <button type="submit" class="button">
        Add
      </button>
    </div>
  </div>
<% end %>
