<tr class="tree__row">
<% cell_id = 0 %>

<% collection.each do |node| %>
  <% if node.left_tree - cell_id > 1 %>
    <td colspan="<%= node.left_tree - cell_id - 1 %>">
    </td>
  <% end %>

  <td colspan="<%= (node.right_tree - node.left_tree + 1) %>"
      class="tree__cell <%= if node.leaf?; 'leaf'
                            elsif node.root?; 'root'
                            else 'node'
                            end %>">
    <div class="tree__left">
      <%= node.left_tree %>
    </div>
    <div class="tree__right">
      <%= node.right_tree %>
    </div>

    <%= render partial: "intervals/tree/index/tree_delete",
               locals: {node: node} %>

    <div class="tree__label">
      <%= node.label %>
    </div>

    <%= render partial: "intervals/tree/index/tree_new_child",
               locals: { node: if node.root?; node.as_root
                               else; node.as_node
                               end}%>
  </td>
  <% cell_id = node.right_tree %>
<% end %>
  <% if max_right_tree - cell_id > 0  %>
  <td colspan="<%=max_right_tree - cell_id %>">
  </td>
  <% end %>
</tr>
